{
    "arrowParens": "always",
    "bracketSpacing": true,
    "printWidth": 80,
    "quoteProps": "as-needed",
    "tabWidth": 2,
    "trailingComma": "es5",
    "semi": false,
    "singleQuote": true,
    "useTabs": false
}
